page-edu-project {
  ion-card {
    img {
      height: 120px;
      object-fit: cover !important;
    }

    &.card-ios,
    &.card-md {
      margin: 0;
      width: 100%;
      border-radius: 0px;
      text-align: left;
      margin-bottom: 20px;
      background-color: color($colors, background, base);
    }

    .card-content {
      background-color: color($colors, newsCardBackground, base);
      padding: 8px 15px;


      .card-title-ios, .card-title-md {
        font-family: $font-family-Bitter;
        font-weight: bold;
        line-height: normal;
        font-size: 18px;
        letter-spacing: 0.01em;
        color: color($colors, 'white');
        padding-bottom: 0;
        margin-bottom: 10px;
      }

      .separator {
        width: 100%;
        height: 1px;
        background-color: color($colors, separator, base);
      }

      p {
        font-family: $font-family-OpenSans;
        line-height: normal;
        font-size: 13px;
        letter-spacing: 0.01em;
        color: color($colors, 'manatee');
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-grow: 1;

        ion-icon {
          text-align: center;
          font-size: 25px;
          margin-top: 2px;
          color: color($colors, 'malibu');
          min-width: 15%;
        }
      }
    }
  }
}
