page-music {
  .container {
    padding: 21px 17px;
  }

  p {
    font-family: $font-family-OpenSans;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.7);
    padding: 0 10px;
    letter-spacing: -0.1px;
  }

  .song {
    background-color: rgba(22, 24, 36, .5);
    border-radius: 6px;
    padding: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    &__icon {
      img {
        display: block;
        width: 18px;
      }
    }

    &__text {
      flex: 1;
    }

    &__title {
      color: white;
      font-size: 17px;
    }

    &__author {
      color: rgba(255, 255, 255, 0.4);
      font-size: 13px;
      font-family: $font-family-Roboto;
    }
  }

  .more {
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 14px 15px 23px;
  }

  .list {
    display: flex;
    align-items: center;
    padding: 0 15px 11px;

    &__icon {
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }

    &__text {
      font-size: 14px;
      color: white;
      margin-left: 16px;
    }
  }
}
