$opensans-font-path: "#{$font-path}/opensans";

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(OpenSans), local('OpenSans-Regular'), url("#{$opensans-font-path}/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local(OpenSans), local('OpenSans-SemiBold'), url("#{$opensans-font-path}/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: bold;
  font-weight: 700;
  src: local(OpenSans), local('OpenSans-Bold'), url("#{$opensans-font-path}/OpenSans-Bold.ttf") format("truetype");
}
