$lines: (1, 2, 3);

.app-lines {
  @each $value in $lines {
    &-#{$value} {
      display: -webkit-box;
      -webkit-line-clamp: $value;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
