page-home {
  * {
    margin: 0;
    color: #ffffff;
  }

  ion-header {
    width: 100%;
    max-height: 11%;

    ion-navbar {
      max-height: inherit;
      align-items: center;
      ion-icon {
        color: #ffffff;
      }
    }
    .toolbar-background {
      background-color: color($colors, primary, base);
    }
    .button {
      vertical-align: top;
      margin-top: 4%;
      margin-left: 2%;
    }
  }

  ion-content {
    .scroll-content{
      margin-bottom: 0px !important;
    }

    .scroll-content {
      background-color: color($colors, primary, base);
    }
  }

  #icon-button-inicio {
    background-color: color($colors, navBarHome, base);
  }
  #icon-filarmonica {
    margin-left: 6%;
    font-size: 4.5em;
    color: #ffffff;
  }
  #header-logo-alcaldia {
    margin-top: 3.3%;
    margin-left: 17%;
    width: 31%;
    height: auto;
    vertical-align: top;
  }
  #header-line {
    display: inline-block;
    border-left: 2px solid rgba(255, 255, 255, 0.15);
    height: 3.5em;
    margin-left: 5%;
    vertical-align: top;
    margin-top: 2%;
  }

  .slide-concert {
    background-color: #222433;
    height: 80%;

    .card-content{
        padding: 4% 1%;
    }

    .ion-card, .card-ios, .card-md, .card{
      border: 0 !important;
      border-style: none !important;
      box-shadow: none !important;
      background-color: black;
    }

    .card-content-md {
      background-color: #222433;
    }

    .slide-zoom {
      height: 100%;
  }

    .card-md {

      margin: 0;
      width: 100%;
      height: 100%;
        h3, ion-card-title{
          color: white;
        }
        ion-card-title{
          margin: 1% 0;
          padding: 1% 0;
          font-size: 2.5rem;
        }
        .concertDateText{
            display: flex;
            flex-direction: column;
            justify-content: center;
              padding: 2% 2%;
            h3{
              margin: 1% 0;
              letter-spacing: 0.1em;
              font-size: 2.2rem;
              font-weight: bold;

            }
            .dateMont{
              color: white;
              font-family: "OpenSans";
              letter-spacing: 0.2em;
              text-transform: uppercase;
            }

        }

        .concertDateText:before {
                       background-color: rgba(255, 255, 255, 0.15);
                       content: '';
                       height: 100%;
                       right: 1px;
                       position: absolute;
                       top: 0;
                       width: 1px;
                   }

        .titleText{
          font-family: "OpenSans";
          color:rgba(255, 255, 255, 0.8);
          font-size: 1.3rem;
        }
        .eventTime{
          font-family: "OpenSans";
          color:#FF4AC1;
              font-size: 1.3rem;
        }

    }

    .swiper-slide img {
      position: relative;
      width: 100%;
      height: 67%;
    }

    .card-content {
      height: 34%;
    }

    .concertDataText{
      text-align: left;
      padding-left: 4%;
    }

  }

  .arrows {
    position: absolute;
    top: 35%;
    z-index: 2;
    color: white;
    font-size: 1.6em;
    border-radius: 50%;
    border: 2px solid greenyellow;
    color: white;
    padding: 1.5%;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(30px);
    transform: rotate(0.29deg);
  }
  .ion-md-icon-flecha-derecha-1 {
    right: 5%;
  }
  .ion-md-icon-flecha-izquierda {
    left: 5%;
  }

  .section {
    margin-top: 5vh;
    margin-bottom: 8vh;

    .headerSection {
        margin-left: 12vw;
        h5{
          font-weight: bold;
          font-size: 1.9rem;
          letter-spacing: 0.06em;
          text-transform: uppercase;
        }
    }

    .section-line {
      display: block;
      border-bottom: 3px solid rgba(255, 74, 193, 0.8);
      width: 13vw;
      margin: 4vw 0vw;
    }

    .swiper-slide img {
        position: relative;
        width: 100%;
        height: 30vh;
    }

    .card-md {
        border-radius: 12px;
        margin: 0;
        border-radius: 2px;
        width: 100%;
        background-color: #161824;
        text-align: left;
   }

   .card-title-md {
     padding-bottom: 7%;
    color: white;
    }

    .card-content{
        padding: 1% 0;
    }

    .classPlace, .classDate {
        font-family: "OpenSans";
        line-height: 13px;
        font-size: 1.2rem;

    }

    .classDate{
          color:#FF4AC1 !important;

    }

    .classPlace{
      padding-top: 1.2vh;
      color: #999999;

    }

  }

  .newsSection{
    height: 60vh;

    ion-card-title{
      font-weight: bold;
      line-height: 24px;
      font-size: 1.7rem;
    }

    p{
      font-family: "OpenSans";
      line-height: 21px;
      font-size: 1.3rem;
      color: #999999;
    }

    .slide-zoom {
        height: 100%;
    }
    .swiper-slide:last-child .card{
      height: 30vh;
      width: 30vh;
      border: 2px solid white;
      border-radius: 4%;

    }
  }

  .classesSection{
    height: 55vh;
    margin-bottom: 20vh;

h3{
  font-weight: bold;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.card-content{
      padding: 1% 7%;
      .instrument{
        font-family: "OpenSans";
            line-height: 1.5vh;
        font-size: 1.2rem;
        color: #999999;
      }
      .teacherName{
        font-weight: bold;
        line-height: 24px;
        font-size: 1.7rem;
        color: white;
      }
}


    .slide-zoom {
        height: 100%;
    }

    .swiper-slide:not(:last-child) .card{
         height: 100%;
         align-items: flex-end;
         display: flex;
         background-size: 100% 80% !important;
         background-repeat: no-repeat !important;
         background: linear-gradient(180deg, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0.445897) 60%, rgba(0, 0, 0, 0.74) 80%), url("../../assets/imgs/XMLID_9_.png");
    }

    .swiper-slide:last-child .card{
      height: 30vh;
      width: 30vh;
      border: 2px solid white;
      border-radius: 4%;

    }

  }

}
