page-home {
  * {
    margin: 0;
    color: #ffffff;
  }

  ion-header {
    width: 100%;
    max-height: 10%;

    ion-navbar {
      max-height: inherit;
      align-items: center;
      ion-icon {
        color: #ffffff;
      }
    }

    .toolbar-ios,
    .toolbar-md,
    .toolbar {
      max-height: 10vh;
    }

    .toolbar-content-ios,
    .toolbar-content-md,
    .toolbar-content {
      width: 100%;
      max-height: 10vh;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0;
    }

    .toolbar-background {
      background-color: color($colors, background, base);
    }

    .menu {
      position: absolute;
      display: flex;
      flex-direction: column;
      right: 10px;
      width: 55vw;
      height: 90px;
      padding: 2.5px 10px;
      background-color: white;
      border-radius: 4px;
      z-index: 2;

      &__background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      button {
        display: flex;
        height: 40px;
        width: 100%;
        text-align: left;
        align-items: center;
        background-color: white;
        color: #161824;
        font-family: $font-family-OpenSans;
        font-size: 12px;

        img {
          margin-right: 10px;
        }
      }

      .separator {
        width: 100%;
        margin: 2.5px 0;
        height: 2px;
        background-color: color($colors, altSeparator, base);
      }
    }

    .icon-filarmonica {
      flex-grow: 1;
      margin-left: 6%;
      font-size: 4.5em;
      color: #ffffff;
    }

    .header-logo-alcaldia {
      height: 90%;
      width: auto;
      object-fit: contain;
    }

    .header-line {
      margin-left: 10px;
      background-color: rgba(#ffffff, 0.15);
      width: 2px;
      height: 7vh;
    }
  }

  .slide-concert {
    background-color: #222433;
    height: auto;

    .swiper-pagination-bullet {
      background: #ffffff;
    }

    .card-content-ios,
    .card-content-md {
      padding: 0;
      background-color: #222433;
    }

    .slide-zoom {
      height: 100%;
    }

    .ion-card,
    .card-ios,
    .card-md,
    .card {
      border: 0 !important;
      border-style: none !important;
      box-shadow: none !important;
      background-color: color($colors, background, base);
      margin: 0;
      width: 100%;
      height: 100%;
      h3,
      ion-card-title {
        color: white;
      }
      ion-card-title {
        margin: 1% 0;
        padding: 1% 0;
        font-size: 2.5rem;
      }
      .concertDateText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2% 2%;
        text-overflow: ellipsis;
        h3 {
          margin: 1% 0;
          letter-spacing: 0.1em;
          font-size: 2.2rem;
          font-weight: bold;
        }
        .dateMont {
          color: white;
          font-family: $font-family-OpenSans;
          letter-spacing: 0.2em;
          text-transform: uppercase;
        }
      }

      ion-card-title {
        padding-right: 10px;
        font-size: 19px;
      }

      .eventDescription {
        font-family: $font-family-OpenSans;
        margin-bottom: 6px;
        color: rgba(255, 255, 255, 0.8);
        font-size: 1.3rem;
        text-align: justify;
        padding-right: 20px;
        overflow: hidden;
      }
      .eventTime {
        font-family: $font-family-OpenSans;
        color: #ff4ac1;
        font-size: 1.3rem;
        margin-bottom: 20px;
      }
    }

    .card-content {
      height: 100%;
    }

    .concertDataText {
      text-align: left;
    }
  }

  .section {
    margin-top: 5vh;
    margin-bottom: 8vh;

    .headerSection {
      margin-left: 12vw;
      h5 {
        font-weight: bold;
        font-size: 1.55rem;
        letter-spacing: 0.06em;
        text-transform: uppercase;
      }
    }

    .section-line {
      display: block;
      border-bottom: 3px solid rgba(255, 74, 193, 0.8);
      width: 13vw;
      margin: 4vw 0vw;
    }

    .card-ios,
    .card-md {
      border-radius: 12px;
      margin: 0;
      width: 100%;
      background-color: #161824;
      text-align: left;
      box-shadow: none;
    }

    .card-title-ios,
    .card-title-md {
      padding-bottom: 0;
      margin-bottom: 0;
      color: white;
    }

    .separator {
      width: 100%;
      margin-top: 10px;
      height: 1px;
      background-color: color($colors, separator, base);
    }

    .card-content {
      width: 100%;
      height: auto;
      padding: 5px 8px;
    }

    .classContent,
    .slideDate {
      font-family: $font-family-OpenSans;
      color: color($colors, highlightText, base);
    }

    .classContent {
      margin: 10px 0 0 0;
      font-size: 13px;
      color: color($colors, mainText, base);
    }
  }

  .newsSection {
    height: auto;

    ion-card-title {
      font-family: $font-family-Bitter;
      font-weight: bold;
      line-height: 24px;
      font-size: 16px;
      color: color($colors, 'white');
    }

    p {
      font-family: $font-family-OpenSans;
      line-height: 21px;
      font-size: 13px;
      color: color($colors, 'dusty-gray');
      margin-top: 10px;
    }

    .slide-zoom {
      height: 100%;
    }
    .swiper-slide:last-child .card {
      height: 188px;
      width: 188px;
      border: 2px solid white;
      border-radius: 4%;
    }

    .last-slide-news-content {
      position: relative;
      padding: 15px;
      height: 100%;

      .last-slide-title {
        position: absolute;
        padding-bottom: 15px;
        bottom: 0px;
        width: 65%;

        p {
          margin: 0;
          font-family: bitter;
          font-size: 1.5em;
          color: #ffffff;
          line-height: 1.2;
        }
      }

      .last-slide-icon {
        position: absolute;
        right: 20px;
        top: 10px;
        font-size: 4em;
      }
    }
  }

  .classesSection {
    position: relative;
    height: auto;
    margin-bottom: 10vh;

    h3 {
      font-weight: bold;
      font-size: 1.55rem;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }

    .class__image {
      height: 120px;
    }

    .card-content {
      padding: 0 16px 10px 16px;
      background: #1d1f2b;
      width: 100%;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 0px 0px 7px 7px;
      overflow: hidden;

      .instrument {
        font-family: $font-family-OpenSans;
        line-height: 1.5vh;
        font-size: 1.2rem;
        color: #999999;
      }
      .teacherName {
        font-family: $font-family-Bitter;
        font-weight: bold;
        line-height: 20px;
        font-size: 16px;
        color: color($colors, 'white');
      }

    }

    .all-classes {
      position: relative;
      padding: 1% 7%;
      max-height: 100%;
      height: 100%;
      padding: 15px;
      background-color: transparent;

      .last-slide-title {
        position: absolute;
        padding-bottom: 15px;
        bottom: 0px;
        width: 65%;

        p {
          margin: 0;
          font-family: bitter;
          font-size: 1.4em;
          color: #ffffff;
          line-height: 1.2;
        }
      }

      .last-slide-icon {
        position: absolute;
        right: 20px;
        top: 10px;
        font-size: 4em;
      }
   }

    .slide-zoom {
      height: 100%;
    }

    .swiper-slide:last-child .card {
      height: 188px;
      width: 188px;
      border: 2px solid white;
      border-radius: 4%;
    }
  }

  .event--separator {
    border-left: thin solid color($colors, 'bright-gray');
    padding-left: 10px;
    margin-top: 14px;
  }

  .event__image {
    height: 180px;
    width: 100%;
    background-color: color($colors, 'darker');
  }

  // .swiper-slide img {

  // }
}
