page-home {
  * {
    margin: 0;
    color: #ffffff;
  }

  ion-header {
    width: 100%;
    max-height: 11%;

    ion-navbar {
      max-height: inherit;
      align-items: center;
      ion-icon {
        color: #ffffff;
      }
    }
    .toolbar-background {
      background-color: color($colors, primary, base);
    }
    .button {
      vertical-align: top;
      margin-top: 4%;
      margin-left: 2%;
    }
  }

  ion-content {
    .scroll-content {
      background-color: color($colors, primary, base);
    }
  }

  ion-footer {
    width: 100%;
    height: 10vh;
    background-color: color($colors, primary, base);

    ion-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
      width: 100%;
      height: 100%;

      .button {
        margin: 0;
        padding: 0;
        width: calc(100vh - 93vh);
        height: 70%;
        font-size: 0.8em;
        border-radius: 50%;
      }

      ion-icon {
        margin: 0;
        padding: 0;
        color: #ffffff;
      }
    }
  }

  #icon-button-inicio {
    background-color: color($colors, navBarHome, base);
  }
  #icon-filarmonica {
    margin-left: 6%;
    font-size: 4.5em;
    color: #ffffff;
  }
  #header-logo-alcaldia {
    margin-top: 3.3%;
    margin-left: 17%;
    width: 31%;
    height: auto;
    vertical-align: top;
  }
  #header-line {
    display: inline-block;
    border-left: 2px solid rgba(255, 255, 255, 0.15);
    height: 3.5em;
    margin-left: 5%;
    vertical-align: top;
    margin-top: 2%;
  }
  .section {
    margin-top: 5vh;
    margin-left: 2vh;

    .section-line {
      display: block;
      border-bottom: 3px solid rgba(255, 74, 193, 0.8);
      width: 13vw;
      margin: 4vw 0vw;
    }
    .card-md {
      margin: 0px;
    }
    .swiper-slide img {
      width: 100%;
    }
  }
  .slide-concert {
    background-color: #222433;
    ion-card {
      margin: 0px;
      width: 100%;
    }
    .swiper-slide img {
      width: 100%;
    }
  }
}
