app-back-button {
  .app-back-button {
    position: absolute;
    top: 16px;
    left: 16px;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .15);
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);

    ion-icon {
      font-size: 20px;
      margin-right: 3px;
    }
  }
}
