

@font-face {
  font-family: 'Bitter';
  font-weight: 400;
  src: url('../assets/fonts/Bitter/Bitter-Regular.ttf') format('ttf');
  font-style: normal;

}


@font-face {
  font-family: 'Bitter';
  font-weight: 700;
  src: url('../assets/fonts/Bitter/Bitter-Bold.ttf') format('ttf');
  font-style: bold;

}

@font-face {
  font-family: 'OpenSans';
  font-weight: 400;
  src: url('../assets/fonts/OpenSans/OpenSans-Regular.ttf') format('ttf');
  font-style: normal;

}

@font-face {
  font-family: 'OpenSans';
  font-weight: 600;
  src: url('../assets/fonts/OpenSans/OpenSans-SemiBold.ttf') format('ttf');
  font-style: semi-bold;

}

@font-face {
  font-family: 'OpenSans';
  font-weight: 700;
  src: url('../assets/fonts/OpenSans/OpenSans-Bold.ttf') format('ttf');
  font-style: bold;

}
