@charset "UTF-8";

@font-face {
  font-family: 'untitled-font-1';
  src: url('../assets/fonts/untitled-font-1.eot');
  src: url('../assets/fonts/untitled-font-1.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/untitled-font-1.woff') format('woff'), url('../assets/fonts/untitled-font-1.ttf') format('truetype'),
    url('../assets/fonts/untitled-font-1.svg#untitled-font-1') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'untitled-font-1' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@mixin makeIcon($arg, $val) {
  .icon-#{$arg}:before,
  .ion-#{$arg}:before,
  .ion-ios-#{$arg}:before,
  .ion-ios-#{$arg}-outline:before,
  .ion-md-#{$arg}:before,
  .ion-md-#{$arg}-outline:before {
    content: $val;
  }
}

@include makeIcon(icon-flecha-atras, '\e003');
@include makeIcon(icon-flecha-derecha, '\e004');
@include makeIcon(icon-icono-configuracion, '\e006');
@include makeIcon(icon-flecha-derecha-1, '\e001');
@include makeIcon(icon-flecha-izquierda, '\e011');
@include makeIcon(icon-icono-calendario, '\e018');
@include makeIcon(icon-icono-contenido, '\e01a');
@include makeIcon(icon-icono-educacion, '\e01b');
@include makeIcon(icon-icono-magistrales, '\e01d');
@include makeIcon(icon-icono-inicio, '\e01c');
@include makeIcon(icon-icono-menu, '\e01e');
@include makeIcon(icon-noticias, '\e01f');
@include makeIcon(icon-icono-trivia, '\e020');
@include makeIcon(icon-logo-alcaldia, '\e021');
@include makeIcon(icon-nombre-filarmonica, '\e022');
@include makeIcon(icon-external-link, '\e019');
@include makeIcon(icon-facebook, '\e008');
@include makeIcon(icon-twitter, '\e007');

