$font-path: '../assets/fonts';

$app-direction: ltr;

@import 'ionic.globals';

$colors: (
  primary: #161824,
  secondary: #32db64,
  danger: #f53d3d,
  light: #f4f4f4,
  background: #161824,
  separator: #474747,
  altSeparator: #e5e5e5,
  navBarBackground: #000000,
  navBarBorder: #818181,
  navBarHome: #FF4284,
  navBarCalendar: #F8774E,
  navBarEducative: #6AD2FF,
  navBarAudCont: #FF4284,
  navBarTrivia: #F7C933,
  mainText: #8E8E9C,
  highlightText: #FF4AC1,
  newsSectionBackground: #282A35,
  newsCardBackground: #1C1D26,
  newsDetailsTextColor: #5b5e6d,
  'white': #ffffff,
  'dark': #282a35,
  'darker': #161824,
  'wildStrawberry': #ff4284,
  'mercury': #e4e4e4,
  'gray': #7f7f7f,
  'black': #000,
  'mid-gray': #5b5e6d,
  'bright-gray': #3b3e48,
  'steel-gray': #1d1f2b,
  'dusty-gray': #999,
  'cod-gray': #161616,
  'dodger-blue': #30c2ff
);

$background-color: #222433;

$tabs-background : #161824;
$tabs-md-tab-icon-color: white;

@import 'ionic.theme.default';


ion-tabs .button-effect {
  display:none !important;
}

// Fonts ...
@import 'ionicons';
@import 'noto-sans';
@import './untitled-font-1';
@import url('https://fonts.googleapis.com/css?family=Bitter:400,700|Open+Sans:400,600,700|Roboto');

$font-family-untitled-font-1: 'untitled-font-1';
$font-family-Bitter: "Bitter";
$font-family-OpenSans: 'Open Sans', sans-serif;
$font-family-Roboto: 'Roboto', sans-serif;

$font-family-ios-base: $font-family-OpenSans;
$font-family-md-base: $font-family-OpenSans;

// Helpers ...
@import './helpers/margin';

// Custom ...
h1, h2, h3, h4, h5, h6, span, button {
  font-family: $font-family-OpenSans;
}

$toolbar-ios-height: 50px;
$toolbar-ios-title-font-size: 14px;
$toolbar-ios-title-font-weight: bold;
