$margin-sizes: (0, 4, 6, 8, 16, 18, 22, 24, 32, 40, 44, 58, 64, 96, 128, 256);
$margin-names: ('top', 'right', 'bottom', 'left');
$margin-positions: ('t', 'r', 'b', 'l');

.m {
  @each $size in $margin-sizes {
    &-#{$size} {
      margin: #{$size}px !important;
    }
  }

  @each $position in $margin-positions {
    $i: index($margin-positions, $position);

    @each $size in $margin-sizes {
      &#{$position}-#{$size} {
        margin-#{nth($margin-names, $i)}: #{$size}px !important;
      }
    }
  }
}
