
<ion-header>

      <ion-navbar mode="ios" hideBackButton>
        <ion-title text-center>Calendario de conciertos</ion-title>
        <ion-buttons left>
          <button ion-button icon-only (click)="close()">
            <ion-icon name="icon-flecha-atras"></ion-icon>
          </button>
        </ion-buttons>
      </ion-navbar>

      <div [ngClass]="{'headerCenter': showcalendar == false }" class="headerMonth">
        <ion-icon name="icon-flecha-atras" *ngIf="showcalendar" (click)="prevMonthChange($event)"></ion-icon>
        <p [ngClass]="{'padding-right': showcalendar == false }">{{day}} {{month}}, {{year}}</p>
        <button class="calendarButton" ion-button (click)="toggleCalendar()">
          <ion-icon name="icon-icono-calendario"></ion-icon>
          <ion-icon name="ios-arrow-up" *ngIf="showcalendar"></ion-icon>
          <ion-icon name="ios-arrow-down" *ngIf="!showcalendar"></ion-icon>
        </button>
        <ion-icon name="icon-flecha-derecha" *ngIf="showcalendar" (click)="nextMonthChange($event)"></ion-icon>
      </div>

</ion-header>



<ion-content padding>

      <div *ngIf="showcalendar" class="calendarBox">

        <div class="filterText">
            <p>Selecciona un día:</p>
        </div>

        <ion-calendar #calendario
          [(ngModel)]="_calendarMonthValue"
          [options]="optionsMulti"
          (onChange)="onChange($event)"
          (monthChange)="monthChange($event)">
        </ion-calendar>


        <div class="calendarButton" (click)="showAllEvents()">
            <button ion-button>Ver todos los eventos del mes</button>
        </div>

      </div>

      <div class="event" *ngFor='let event of selectedDayEvents' (click)="goToEventDetails(event)">
        <ion-row>
          <ion-col col-3 class="eventDate">
            <div class="dayAndMonthEvent">
                <p class="eventDay">{{event.splitedDate[0]}}</p>
                <p class="eventMonth">{{event.splitedDate[1]}}</p>
            </div>
                <p class="priceEvent" [ngClass]="{'paid-event': event.isFree == false}">{{event.isFree ? 'Entrada Libre*' : 'Evento pago'}}</p>
          </ion-col>

          <ion-col col-9 class="eventInfo">
              <p class="eventAutor">{{event.label}}</p>
              <p class="eventTitle">{{event.stripedTitle}}</p>
              <p class="eventTime"><ion-icon name="icon-clock"></ion-icon>{{event.startHour}}</p>
              <p class="eventPlace"><ion-icon name="icon-map-marker" ></ion-icon>Auditorio Leon de Greiff</p>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="noEvents" class="no-events-available">
        <span>Actualmente no hay eventos programados para este día.</span>
      </div>

</ion-content>
