page-calendar {

  ion-title{
    text-transform: uppercase;
  }

  .headerMonth{
    height: 7vh;
    background-color: #F8774E;
  }

  .scroll-content{
    padding: 0 !important;

    .calendarBox{
      height: 40vh;
      background-color: black;
    }

    .event{
      height: 20vh;
      background-color: black;
      border-top: 1px solid white;
  }

}

}
