<ion-header no-border>
  <ion-navbar color="darker">
    <ion-title>calendario de conciertos</ion-title>
  </ion-navbar>

  <div class="headerMonth">
    <ion-icon name="icon-flecha-atras" (click)="prevMonthChange($event)" [appHidden]="!showcalendar"></ion-icon>
    <p>{{ day }} {{ month }}, {{ year }}</p>
    <button class="calendarButton" (click)="toggleCalendar()">
      <ion-icon name="icon-icono-calendario"></ion-icon>
      <ion-icon name="ios-arrow-up" *ngIf="showcalendar"></ion-icon>
      <ion-icon name="ios-arrow-down" *ngIf="!showcalendar"></ion-icon>
    </button>
    <ion-icon name="icon-flecha-derecha" (click)="nextMonthChange($event)" [appHidden]="!showcalendar"></ion-icon>
  </div>
</ion-header>

<ion-content padding appBackground="dark">
  <div *ngIf="showcalendar" class="calendarBox">
    <div class="filterText"><p>Selecciona un día:</p></div>

    <ion-calendar
      #calendario
      [options]="optionsMulti"
      (onChange)="onChange($event)"
      (monthChange)="monthChange($event)"
    >
    </ion-calendar>

    <div class="calendarButton" (click)="showAllEvents(true)"><button ion-button>Ver todos los eventos del mes</button></div>
  </div>

  <div class="event" *ngFor="let event of selectedDayEvents" (click)="goToEventDetails(event)">
    <ion-row align-items-stretch>
      <ion-col col-3 class="eventDate">
        <div class="dayAndMonthEvent">
          <p class="eventDay">{{ event.date | date: 'd' }}</p>
          <p class="eventMonth" text-uppercase>{{ event.date | date: 'MMM' | replace: '.' }}</p>
        </div>
        <div class="ticket-type" [ngClass]="{ 'paid-event': event.isFree == false }">
          <p class="priceEvent" [ngClass]="{ 'paid-event': event.isFree == false }">
            {{ event.isFree ? 'Entrada Libre*' : 'Concierto pago' }}
          </p>
        </div>
      </ion-col>

      <ion-col col-9 class="eventInfo">
        <p class="eventAutor">{{ event.label }}</p>
        <p class="eventTitle">{{ event.stripedTitle }}</p>
        <p class="eventTime"><ion-icon name="icon-clock"></ion-icon>{{ event.startHour }}</p>
        <p class="eventPlace">
          <ion-icon name="icon-map-marker"></ion-icon>
          {{ event.place.name }}
        </p>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="noEvents" class="no-events-available"><span>Actualmente no hay eventos programados para este día.</span></div>
</ion-content>
