page-trivia-winners {

  background-color: color($colors, background, base);

  ion-header {
    width: 100%;
    max-height: 10vh;

    ion-navbar {
      max-height: inherit;
      
      ion-icon {
        color: #ffffff;
      }

      .toolbar-content-md,
      .toolbar-content-ios,
      .toolbar-content {
        position: absolute;
        text-align: center;
        z-index: -1;
        width: 100%;

        ion-title {
          
          .toolbar-title-ios,
          .toolbar-title {
            font-size: 17px;
            font-weight: 800;
            color: #ffffff;
          }

          &.title-md {
            .toolbar-title-md {
              font-size: 17px;
              font-weight: 800;
              color: #ffffff; 
            }
          }
        }
      }
      
      .toolbar-background {
        background-color: color($colors, background, base);
      }
    }
  }

  ion-content {

    .scroll-content {
      background-color: color($colors, newsSectionBackground, base);
      
      font-size: 12px;

      .main-content{
        padding: 30px 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 40%;
          height: auto;
          margin: 25px 0;
        }

        h1 {
          color: color($colors, navBarTrivia, base);
          font-weight: 800;
          font-size: 28px;
          font-family: 'Bitter';
        }

        ul {
          padding-left: 18px;
          width: 100%;
          columns: 2;
          
          li {
            color: white;
            font-size: 16px;
          }
        }

        p {
          margin: 0;
          font-family: 'OpenSans';
          color: #A8ABBA;
        }
      }
    }

    .separator {
      margin-top: 18px;
      margin-bottom: 13px;
      width: 100%;
      height: 2px;
      background-color: #434551;
    }
  }
}

