page-trivia-not-available {
  ion-content {
    .scroll-content {
      background-color: color($colors, newsSectionBackground, base);

      font-size: 12px;

      .main-content {
        padding: 30px 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 40%;
          height: auto;
          margin: 25px 0;
        }

        h1 {
          color: color($colors, navBarTrivia, base);
          font-weight: 800;
          font-size: 28px;
          font-family: 'Bitter';
        }

        h4 {
          font-size: 18px;
          margin-top: 0;
          margin-bottom: 0;
          color: white;
          font-family: 'Bitter';
        }

        p {
          margin-top: 0;
          font-family: $font-family-OpenSans;
          color: #a8abba;
        }
      }
    }

    .separator {
      margin-top: 18px;
      margin-bottom: 13px;
      width: 100%;
      height: 2px;
      background-color: #434551;
    }
  }
}
