page-events-month {
  .headerMonth {
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    background-color: #f8774e;
    font-family: $font-family-OpenSans;

    .calendarButton {
      background-color: #f5a288 !important;
      height: 3rem;
      padding: 0 0.5em;
      ion-icon.icon.icon-md.ion-md-icon-icono-calendario {
        padding-right: 0.3em;
        font-size: 1.6em;
      }
    }

    p {
      font-size: 1.4rem;
      font-family: $font-family-OpenSans !important;
      padding-left: 1.5em;
    }

    ion-icon {
      font-size: 2.4em;
      color: black;
    }

    ion-icon.icon.icon-md.ion-md-icon-fleacha-atras {
      position: relative;
      padding-left: 1%;
    }

    ion-icon.icon.icon-md.ion-md-icon-fleacha-atras:after {
      background-color: rgba(0, 0, 0, 0.15);
      content: '';
      height: 80%;
      right: -1vh;
      position: absolute;
      top: 10%;
      width: 2px;
    }

    ion-icon.icon.icon-md.ion-ios-arrow-up,
    ion-icon.icon.icon-md.ion-ios-arrow-down {
      font-size: 2rem;
    }

    ion-icon.icon.icon-md.ion-md-icon-flecha-derecha {
      position: relative;
      padding-right: 1%;
    }

    ion-icon.icon.icon-md.ion-md-icon-flecha-derecha:after {
      background-color: rgba(0, 0, 0, 0.15);
      content: '';
      height: 80%;
      left: -1vh;
      position: absolute;
      top: 10%;
      width: 2px;
    }
  }

  .scroll-content {
    padding: 0 !important;
  }

  .calendarBox {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .filterText {
      position: relative;
      p {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.2rem;
      }
    }

    .filterText:before {
      background-color: lightgray;
      content: '';
      width: 90%;
      bottom: 0;
      position: absolute;
      left: 5%;
      height: 1px;
    }

    button.days-btn.next-month-day {
      p {
        color: black !important;
      }
    }

    p {
      padding-left: 5%;
      color: white !important;
    }

    ion-calendar {
      background-color: black;
      padding: 0;

      .title {
        display: none;
      }

      button.days-btn {
        border-radius: 4vh;
        width: 4vh;
        height: 4vh;
      }

      .days {
        width: 14%;
        height: 5vh;
        margin-bottom: 0;
      }

      p,
      li {
        font-size: 1.2rem;
        font-family: $font-family-OpenSans;
        font-weight: 600;
      }
      .days-box {
        padding: 0;
      }
      button.today {
        background-color: #f8774e;
        p {
          color: black !important;
        }
      }
    }

    .calendarButton {
      position: relative;
      text-align: center;

      .button-md {
        height: 3.1rem;
        font-size: 1.4rem;
      }

      span.button-inner {
        font-size: 1.3rem;
        font-family: $font-family-OpenSans;
        text-transform: none;
      }

      .button-md.button-default.button-default-md {
        margin: 0.8rem 0.2rem;
        padding: 0 2.1em;
        background-color: #f8774e;
        color: black;
      }
    }

    .calendarButton:before {
      background-color: lightgray;
      content: '';
      width: 90%;
      top: 0;
      position: absolute;
      left: 5%;
      height: 1px;
    }
  }

  .event {
    height: 20vh;
    background-color: black;
    border-top: 1px solid white;

    .eventDate {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      p {
        margin: 0;
      }

      .priceEvent {
        font-family: $font-family-OpenSans !important;
        font-weight: bold;
      }

      .dayAndMonthEvent {
        padding-bottom: 5vh;
        .eventDay {
          font-size: 2.4rem;
        }
        .eventMonth {
          font-family: $font-family-OpenSans !important;
          letter-spacing: 0.2em;
        }
      }

      .priceEvent {
        position: relative;
      }

      .priceEvent:before {
        background-color: #db4f0a;
        content: '';
        width: 100%;
        top: -1vh;
        position: absolute;
        left: 0;
        height: 1px;
      }
    }

    .eventInfo {
      height: 19.9vh;
      background-color: #282a35;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .icon-icon-icono-menu:before,
      .ion-icon-icono-menu:before,
      .ion-ios-icon-icono-menu:before,
      .ion-ios-icon-icono-menu-outline:before,
      .ion-md-icon-icono-menu:before,
      .ion-md-icon-icono-menu-outline:before {
        color: #f8774e !important;
      }

      p {
        margin: 0 0 0 1.1vh;
      }

      .eventAutor {
        font-family: $font-family-OpenSans !important;
        font-size: 600;
        color: #f8774e;
      }

      .eventTitle {
        font-weight: bold;
        font-size: 1.7rem;
      }

      .eventTime,
      .eventPlace {
        color: #aeaeae;
        font-family: $font-family-OpenSans !important;
      }
    }

    p {
      color: white;
      font-size: 1.1rem;
    }
  }
}
