
<ion-header>

    <ion-navbar mode="ios" hideBackButton>
      <ion-title text-center>Calendario de conciertos</ion-title>
      <ion-buttons left>
        <button ion-button icon-only (click)="close()">
          <ion-icon name="icon-fleacha-atras"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>

    <div class="headerMonth">
      <ion-icon name="icon-fleacha-atras" (click)="prevMonthChange($event)"></ion-icon>
        <p>{{month}}, {{year}}</p>
      <button class="calendarButton" ion-button (click)="toggleCalendar()">
        <ion-icon name="icon-icono-calendario"></ion-icon>
        <ion-icon name="ios-arrow-up" *ngIf="showcalendar"></ion-icon>
        <ion-icon name="ios-arrow-down" *ngIf="!showcalendar"></ion-icon>
      </button>
      <ion-icon name="icon-flecha-derecha" (click)="nextMonthChange($event)"></ion-icon>
    </div>

</ion-header>


<ion-content padding>

  <div *ngIf="showcalendar" class="calendarBox">

    <div class="filterText">
        <p>Filtrar por día</p>
    </div>

      <ion-calendar #calendario [(ngModel)]="_calendarMonthValue"
                          (onSelect)="onSelect($event)"
                          [options]="optionsMulti"
                          (monthChange)="monthChange($event)">
      </ion-calendar>

  </div>

  <div class="event">

    <ion-row>
      <ion-col col-3 class="eventDate">
        <div class="dayAndMonthEvent">
            <p class="eventDay">03</p>
            <p class="eventMonth">SEPT</p>
        </div>
            <p class="priceEvent">Evento gratuito</p>
      </ion-col>

      <ion-col col-9 class="eventInfo">
          <p class="eventAutor">Orquesta Filarmónica de Bogotá</p>
          <p class="eventTitle">Director y solista: Christian Lindberg</p>
          <p class="eventTime"><ion-icon name="icon-icono-menu" ></ion-icon>6:30 PM</p>
          <p class="eventPlace"><ion-icon name="icon-icono-menu" ></ion-icon>Auditorio Leon de Greiff</p>
      </ion-col>

    </ion-row>

  </div>

  <div class="event">
    <ion-row>
      <ion-col col-3 class="eventDate">
        <div class="dayAndMonthEvent">
            <p class="eventDay">03</p>
            <p class="eventMonth">SEPT</p>
        </div>
            <p class="priceEvent">Evento gratuito</p>
      </ion-col>

      <ion-col col-9 class="eventInfo">
          <p class="eventAutor">Orquesta Filarmónica de Bogotá</p>
          <p class="eventTitle">Director y solista: Christian Lindberg</p>
          <p class="eventTime"><ion-icon name="icon-icono-menu" ></ion-icon>6:30 PM</p>
          <p class="eventPlace"><ion-icon name="icon-icono-menu" ></ion-icon>Auditorio Leon de Greiff</p>
      </ion-col>

    </ion-row>
  </div>

  <div class="event">
    <ion-row>
      <ion-col col-3 class="eventDate">
        <div class="dayAndMonthEvent">
            <p class="eventDay">03</p>
            <p class="eventMonth">SEPT</p>
        </div>
            <p class="priceEvent">Evento gratuito</p>
      </ion-col>

      <ion-col col-9 class="eventInfo">
          <p class="eventAutor">Orquesta Filarmónica de Bogotá</p>
          <p class="eventTitle">Director y solista: Christian Lindberg</p>
          <p class="eventTime"><ion-icon name="icon-icono-menu" ></ion-icon>6:30 PM</p>
          <p class="eventPlace"><ion-icon name="icon-icono-menu" ></ion-icon>Auditorio Leon de Greiff</p>
      </ion-col>

    </ion-row>
  </div>

  <div class="event">
    <ion-row>
      <ion-col col-3 class="eventDate">
        <div class="dayAndMonthEvent">
            <p class="eventDay">03</p>
            <p class="eventMonth">SEPT</p>
        </div>
            <p class="priceEvent">Evento gratuito</p>
      </ion-col>

      <ion-col col-9 class="eventInfo">
          <p class="eventAutor">Orquesta Filarmónica de Bogotá</p>
          <p class="eventTitle">Director y solista: Christian Lindberg</p>
          <p class="eventTime"><ion-icon name="icon-icono-menu" ></ion-icon>6:30 PM</p>
          <p class="eventPlace"><ion-icon name="icon-icono-menu" ></ion-icon>Auditorio Leon de Greiff</p>
      </ion-col>

    </ion-row>
  </div>

  <div class="event">
    <ion-row>
      <ion-col col-3 class="eventDate">
        <div class="dayAndMonthEvent">
            <p class="eventDay">03</p>
            <p class="eventMonth">SEPT</p>
        </div>
            <p class="priceEvent">Evento gratuito</p>
      </ion-col>

      <ion-col col-9 class="eventInfo">
          <p class="eventAutor">Orquesta Filarmónica de Bogotá</p>
          <p class="eventTitle">Director y solista: Christian Lindberg</p>
          <p class="eventTime"><ion-icon name="icon-icono-menu" ></ion-icon>6:30 PM</p>
          <p class="eventPlace"><ion-icon name="icon-icono-menu" ></ion-icon>Auditorio Leon de Greiff</p>
      </ion-col>

    </ion-row>
  </div>

  <div class="event">
    <ion-row>
      <ion-col col-3 class="eventDate">
        <div class="dayAndMonthEvent">
            <p class="eventDay">03</p>
            <p class="eventMonth">SEPT</p>
        </div>
            <p class="priceEvent">Evento gratuito</p>
      </ion-col>

      <ion-col col-9 class="eventInfo">
          <p class="eventAutor">Orquesta Filarmónica de Bogotá</p>
          <p class="eventTitle">Director y solista: Christian Lindberg</p>
          <p class="eventTime"><ion-icon name="icon-icono-menu" ></ion-icon>6:30 PM</p>
          <p class="eventPlace"><ion-icon name="icon-icono-menu" ></ion-icon>Auditorio Leon de Greiff</p>
      </ion-col>

    </ion-row>
  </div>

</ion-content>
