<ion-header no-border>
  <app-navbar title="contenido audiovisual"></app-navbar>
</ion-header>

<ion-content appBackground="dark">
  <div class="control">
    <div class="control__box control--border" (click)="changeTab('t1')" [ngClass]="{ 'is-active': tabs.t1 }">
      <div class="img" appFit="contain">
        <img class="img__normal" src="./assets/icon/headphones.svg">
        <img class="img__hover" src="./assets/icon/headphones-hover.svg">
      </div>
      <div class="text" text-uppercase>audios</div>
    </div>
    <div class="control__box" (click)="changeTab('t2')" [ngClass]="{ 'is-active': tabs.t2 }">
      <div class="img" appFit="contain">
        <img class="img__normal" src="./assets/icon/video.svg">
        <img class="img__hover" src="./assets/icon/video-hover.svg">
      </div>
      <div class="text" text-uppercase>videos</div>
    </div>
  </div>

  <page-music *ngIf="tabs.t1"></page-music>
  <page-video *ngIf="tabs.t2"></page-video>
</ion-content>

