page-multimedia {
  .control {
    border-bottom: 4px solid rgba(22, 24, 36, .4);
    display: flex;
    padding: 4px 0;

    &__box {
      flex: 1;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      .img {
        width: 30px;
        height: 30px;
        margin-right: 10px;

        &__hover {
          display: none;
        }
      }

      .text {
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 0.6px;
        color: white;
      }

      &.is-active {
        .img {
          &__normal {
            display: none;
          }

          &__hover {
            display: block;
          }
        }

        .text {
          color: color($colors, 'wildStrawberry');
          transition: .3s
        }
      }
    }

    &--border {
      border-right: thin solid rgba(0, 0, 0, .3);
    }
  }
}
